footer {
    height: 10vh;
    width: 100vw;
    background-color: #7b9e89;
    position: absolute; 
    align-self: end; 
    bottom: 0;

}

.Accueil {
    position: relative;
    top: 1vh;
    height: 40px;
    width: 40px;
    align-content: center;
    margin: 10px;
    float: left;
    font-size: 15px;
    padding: 3px;
}

#mail {
    position: relative;
    top: 2vh;
    height: 42px;
    width: 42px;
    align-content: center;
    float: right;
    margin-right: 10px;
    padding: 3px;
}

#NumeroTel {
    position: relative;
    top: 3vh;
    margin-left: 0px;
    margin-bottom: 0px;
    align-content: center;
    float: left;
    font-size: x-large;
}

@media (max-width: 768px) {
    footer {
        height: 10vh;
        width: 100vw;
        background-color: #7b9e89;
        position: absolute;
        align-self: end;
        bottom: 0;

    }

    .Accueil {
        position: relative;
        height: 6vh;
        width: 5vh;
        align-content: center;
        float: left;
        font-size: 8px;
    }

    #mail {
        position: relative;
        top: 0.5vh;
        height: 7vh;
        width: 7vh;
        align-content: center;
        float: right;
    }

    #NumeroTel {
        position: relative;
        top: 2.5vh;
        align-content: center;
        float: left;
        font-size: x-large;
    }
}

@media (max-width: 425px) {
    footer {
        height: 10vh;
        width: 100vw;
        background-color: #7b9e89;
        position: absolute;
        align-self: end;
        bottom: 0;

    }

    .Accueil {
        position: relative;
        height: 6vh;
        width: 3vh;
        align-content: center;
        float: left;
        font-size: 8px;
    }

    #mail {
        position: relative;
        top: 1vh;
        height: 6vh;
        width: 3vh;
        margin-left: 0;
        align-content: center;
        float: right;
    }

    #NumeroTel {
        position: relative;
        top: 4vh;
        align-content: center;
        float: left;
        font-size: small;
    }
}