footer {
    height: 10vh;
    width: 100vw;
    background-color: #7b9e89;
    position: absolute;
    align-self: end;
    bottom: 0;

}

.Accueil {
    height: 42px;
    width: 42px;
    align-content: center;
    margin: 20px;
    float: left;
    font-size: 15px;
    padding: 3px;
}

#mail {
    height: 42px;
    width: 42px;
    align-content: center;
    float: right;
    margin: 20px;
    padding: 3px;
}

#NumeroTel {
    margin: 32px;
    margin-left: 0px;
    align-content: center;
    float: left;
    font-size: x-large;
}

@media (max-width: 768px) {
    footer {
        height: 10vh;
        width: 100vw;
        background-color: #7b9e89;
        position: absolute;
        align-self: end;
        bottom: 0;

    }

    .Accueil {
        height: 6vh;
        width: 5vh;
        align-content: center;
        margin: 15px;
        float: left;
        font-size: 8px;
        padding: 3px;
    }

    #mail {
        height: 6vh;
        width: 6vh;
        align-content: center;
        float: right;
        margin: 18px;
        padding: 3px;
    }

    #NumeroTel {
        margin: 18px;
        margin-top: 40px;
        align-content: center;
        float: left;
        font-size: x-large;
    }
}