 main {
     min-height: 80vh;
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center;
     height: 80vh;
     background-color: #0e1428;
 }


 #areaA {
     /* background-color: lime; */
     text-align: center;
     color: #f18805;
 }

 #areaB {
     /* background-color: yellow; */
     text-align: center;
     position: relative;
     top: 40vh;
     color: #f18805;
 }

 #areaA,
 #areaB {
     height: 40vh;
     width: 100%;
 }

 #imageA {
     height: max-content;
     width: max-content;
     position: relative;
     top: 30vh;
     margin: 0px;
     padding: 0px;
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center;
 }

 #imageB {
     height: 100%;
     width: 20vh;
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center;
     background-color: red;
 }