body {
     background-color: #0e1428;
     font-family: Valo;
     margin: 0;
     height: 100vh;
}

/* h2 {
     color: #d95d39;
     position: relative;
     top: 25vh;
     left: 12vh;
     font-size: xx-large;
} */

a {
     text-decoration: none;
}

li {
     list-style: none;
}

/* #Presentation {
     color: #d95d39;
     position: relative;
     text-align: center;
     top: 20%;
     left: 0%;
     font-size: x-large; 
} */

