 main {
     min-height: 90vh;
     height: 80vh;
     width: 100vw;
     /* overflow: hidden; */
     background-color: #0e1428;
 }

 .titrecompetence {
     color: #f18805;
 }

 .h1presentation {
     margin: 10vh;
     margin-top: 0;
     position: relative;
     top: 7vh;
     text-align: center;
     font-size: xx-large;
     color: #d95d39;
 }

 .Grid {
     display: grid;
     height: 80vh;
     grid-template-columns: repeat(3, 1fr);
     grid-auto-rows: minmax(100px, auto);
     grid-template-areas:
         " .    .   ."
         "img test test"
         " .    .   ."
     ;
     justify-content: center;
     max-width: 100vw;
     z-index: 1;
 }

 #ImageBureau {
     width: 100%;
     height: 100%;
     object-fit: cover;
 }

 #imageB {
     width: 100%;
     height: 100%;
     object-fit: cover;
     background-color: #f18805;
 }

 .image {
     grid-area: img;
 }

 .ImageProfil {
     grid-area: imgP;
 }

 .text {
     display: flex;
     grid-area: test;
     color: #f18805;
     margin: 0;
     align-items: center;
     text-align: center;
 }

 .titrep {
     display: flex;
     grid-area: titrep;
     text-align: center;
     color: #d95d39;
     font-size: xx-large;
     justify-content: flex-end;
     align-content: stretch;
     flex-wrap: wrap;
     flex-direction: column;
     align-items: stretch;
 }

 .GridDeux {
     display: grid;
     height: 90vh;
     max-width: 100vw;
     grid-template-rows: minmax(100px, auto);
     grid-template-columns: repeat(3, 1fr);
     grid-template-areas:
         " imgP titrep  titrep"
         " .    textp   textp"
         " .      .       ."
     ;
     justify-content: center;
     z-index: 1;
 }

 .PresentationParagraphe {
     color: #f18805;
     grid-area: textp;
     text-align: center;
     font-size-adjust: initial;
 }


 /*! Responsive  */

 @media (max-width: 768px) {
     .Grid {
         display: grid;
         height: 80vh;
         grid-template-columns: repeat(3, 1fr);
         grid-auto-rows: repeat(2, 1fr);
         grid-template-areas:
             " .    img   ."
             "test test test"
             " .     .    ."
         ;
         justify-content: center;
         max-width: 100vw;
         z-index: 1;
     }
 }